body,h2,h3{
  line-height:21px
}

h2,h3{
  font-weight:700;
  font-size:21px
}


body{
  margin:0;
  min-width: 1200px;
  font-family:"PT Sans","Arial",sans-serif;
  color: black;
  text-transform:uppercase;
  background-color:#f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}



.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header{
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-right: 72px;
  padding-left: 72px;
  list-style: none;  

}


.site-navigation li {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 240px;
  padding: 15px 0;
  width: 240px;
  
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
    justify-content: flex-end;
}

.site-navigation li:nth-child(4n+2) {
    margin-right: 95px;
}


.site-navigation li a{
  text-decoration:none;
  color:#000000;
  font-weight:700
  }
  .site-navigation li.active a{
  color:#766357;
  }
  .site-navigation li a:hover{
  color:#81b3d2;
  }
  .site-navigation li a:focus{
  color:#cacaca;
}


main{
  background-color:#ffffff;
}

.intro{
  min-height:510px;
  background:
  url(../img/background-photo.png) 0 28% no-repeat,
  url(../img/polygon.jpg)50% 100% no-repeat;
  background-color:#5496bd;
  margin-bottom:61px;
}



.info-city{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  
}

.info{
  font-family: "PT Sans","Arial",sans-serif;
  line-height: 26px;
  padding:0;
  margin:0 auto 28px;
  
}

.info-city p{
  margin:0;
  color:#333333;
  line-height:26px;
  font-family: "PT Sans","Arial",sans-serif;
  width: 489px;
  font-size: 14px;
  font-weight: normal;
}

.cause-description{
  display: flex;
  flex-direction: column;
}

.cause-one{
  display: flex;
}

.description-one{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 53px 54px;
  background-color:#81b3d2;
  text-align:center;
  color:#ffffff;
  width: 33,33%;
}

.description-one h2{
  margin:0;
  padding:0;
  width:200px;
}


.description-one .cause-number{
  margin:0;
  padding-top:24px;
  padding-bottom:21px;
  color:#ffffff;
  font-size: 14px;
  line-height: 21px;
}

.description-one p{
  margin: 0;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}


.feature-picture{
  display: flex;
  position:relative;
  background-color:#81b3d2
}

.reason{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.description{
  margin-bottom:23px;
  padding:60px 48px 60px;
  
}

.description img{
  margin-bottom: 32px;
  width: 66,66%;
}

.description h2{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin:0 auto 23px;
}

.description p{
  margin:0;
  color:#333333;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
}


.cause{
  display: flex;
}


.description-two{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 53px 48px;
  background-color:#81b3d2;
  text-align:center;
  color:#ffffff;
  width: 33,33%;
}


.description-two h2{
  margin:0;
  padding:0;
  width:200px;
}


.description-two .cause-number{
  margin:0;
  padding-top:24px;
  padding-bottom:21px;
  color:#ffffff;
  font-size: 14px;
  line-height: 21px;
}

.description-two p{
  margin: 0;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 303px;
}


.cause{
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #eeeeee;
  justify-content: space-around;
}


.description{
  display: flex;
  flex-direction: column;
  padding: 48px 65px;
  margin-bottom: 10px;
}


.description h2{
  width: 120px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}


.description .cause-number{
  text-align: center;
  margin-bottom:  20px;
  color:#333333;
  font-size: 14px;
  line-height: 21px;
}

.description p{
  font-family: "PT Sans","Arial",sans-serif;
  color: #333333;
  font-size: 14px;
  width: 208px;
  line-height: 21px;
}


.search{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 55px;
}

.search h2{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
}


.search p{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 48px;
}

.search .button-search{
  font-family: "PT Sans","Arial",sans-serif;
  width:568px;
  padding:30px 0;
  background-color:#766357;
  border:none;
  color:#fff;
  line-height:26px;
  cursor:pointer;
  font-size:21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  }

.search .button-search:hover{   /*Цвет кнопки при наведении курсора*/
  background-color: #604e43;
}
  
.search .button-search:focus{    /*Цвет кнопки при нажатии*/
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.map p{
  margin: 0;
}


.footer{
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
  padding-bottom: 36px;
}



.footer-link{
  display: flex;
  flex-direction: column;
}

.footer-link a{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.footer-social{
  display: flex;
}

.social-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  vertical-align: top;
  background-color: #81b3d2;
}  

.social-button:hover{
  background-color: #669ec0;
}

.social-button:focus{
  background: #5496bd;
  opacity: 0.3;
}



.footer-copyright{
  display: flex;
  align-items: center;
}



.footer-copyright p{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 0 8px 0 0;
  
}

.footer-copyright .copyright{
  color: #231f20;
}


.map{
  min-height:474px;
  background:#cacaca url(../img/map.jpg) no-repeat 
}

.modal-search{
  display: flex;
  flex-direction: column;
}


.modal-search{
  display: flex;
  width: 568px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  position:absolute;
  background-color:#fff;
}


.search-quantity{
  display: flex;
  justify-content: center;
}

.fields{
  display: flex;
  justify-content: center;
  align-content: center;
  position:relative;
  margin-bottom:30px;
  clear:both;
}

.search-form input{
  font-family: "PT Sans","Arial",sans-serif;
  font-size:14px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left: 12px;
  background-color:#f2f2f2;
  line-height:26px;
  border:none;
  color: #000000;
  font-weight: bold;
  text-align: left;
  width: 346px;
}

.search-form label{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #000000;
  
 }


 .fields-after{
  position:absolute;
  display:flex;
  top:9px;
  right:10px;
  width:21px;
  height:22px;
  background-color:#a9a9a9;
  background-image:url(../img/calendar.png);
  background-repeat:no-repeat;
  background-position:-73px -5px
  }

.fields-after:hover{
  cursor:pointer;
  background-position:-135px -5px
  }

.fields-after:active{
  cursor:pointer;
  background-position:-104px -5px
}

.search-quantity{
  box-sizing:border-box;
  width:50%
}
.search-quantity div{
  width: 50%;
}
.search-quantity label{
  float:left
}
.search-form .button{
  width:38px;
  height:38px;
  border:none;
  background-color:#f2f2f2;
  color:#a9a9a9;
  font-family:"PT Sans","Arial",sans-serif;
  font-size:14px;
  line-height:26px;
  text-transform:uppercase;
  font-weight:700
}
.search-form .button:hover{
  color:#000
}


.filters{
  display: flex;
  background: #cacaca url(../img/filter-background.png) center 50%;
  width: 1200px;
  color: #ffffff;
}

.filter-fields{
  display: flex;
  
}

.filters-infrastructure,
.filters-type-housing,
.filters-price{
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  align-content: center;
  
  
}

.filters-infrastructure{
  justify-content: flex-start;
  padding-left: 72px;
  padding-right: 115px;
}

.filters-type-housing{
  padding-right: 394px;
}

.filters h3{
  margin:0 0 15px;
  padding:0;
  font-family:"PT Sans","Arial",sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.filters label{
  font-family:"PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
}



.filters input[type=checkbox]{
  display:none;
}

.filters input[type=checkbox]+label{
  position:relative;
  display:block;
  margin-left:40px;
  padding-top:9px;
  padding-bottom:16px;
  cursor:pointer
}


.filters input[type=checkbox]+label::after{
  content:"";
  position:absolute;
  top:8px;
  left:-40px;
  display:block;
  width:22px;
  height:22px;
  background-position:-5px -5px
}

.filters input[type=checkbox]:checked+label::after{
  content:"";
  position:absolute;
  top:8px;
  left:-40px;
  display:block;
  width:26px;
  height:22px;
  background-image:url(../img/checkbox-on.png);
  background-repeat:no-repeat;
  background-position:-37px -5px
}

.filters input[type=checkbox]:disabled+label{
  opacity:0.3
}

.filters input[type=checkbox]:disabled+label::after{
  content:"";
  position:absolute;
  top:8px;
  left:-40px;
  width:26px;
  height:22px;
  background-image:url(../img/checkbox-on.svg);
  background-repeat:no-repeat;
  background-position:-5px -5px
}




.filters-price h3{
  margin:0 0 10px;
  padding:0;
  text-align:left;
}

.filters-price .range-price{
  position:relative;
  height:32px;
  margin-left:10px;
  margin-bottom:20px;
  font-size:0;
  border:2px solid #fff;
  border-radius:2px
}

.filters-price .range-price::after{
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:2px;
  height:22px;
  background:#fff;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)
}

.range-price label{
  display:inline-block;
  text-align:left;
  font-size:14px;
  line-height:30px;
  vertical-align:top;
  cursor:pointer
}
.range-price .max-price,
.range-price .min-price{
  width:90px;
  padding-left:55px
}

.range-price input{
  width:50px;
  margin:0;
  color:inherit;
  font:inherit;
  background:0 0;
  border:none;
  outline:#ffffff;
}

.range{
  position:relative;
  height:2px;
  background-color:rgba(255,255,255,.3);
  margin-bottom:32px;
  margin-left:10px
}

.range .length{
  width:80%;
  height:2px;
  background:#ffffff;
}

.range span{
  position:absolute;
  top:-9px;
  width:4px;
  height:4px;
  background:#ababab;
  border:8px solid #fff;
  border-radius:50%;
  box-shadow:0 2px 1px 0 rgba(0,1,1,.2);
  cursor:pointer;
}

.range span:hover{
  background:#1c4f80;
}

.range .range-min{
  left:0
}

.range .range-max{
  left:80%
}

.filters-price input[type=submit]{
  width:135px;
  padding:6px 0;
  background-color:transparent;
  border:2px solid #fff;
  border-radius:2px;
  font-family:"PT Sans","Arial",sans-serif;
  font-size:14px;
  line-height:21px;
  text-transform:uppercase;
  font-weight:400;
  color:#fff;
  text-align:center;
}

.filters-price input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  cursor:pointer
}


.sorting{
  display: flex;
  padding:30px 72px 30px 72px;
  border-bottom:1px solid #e5e5e5;
}

.found{
  margin-right:28px;
  width:135px;
  font-size:21px;
  line-height:26px;
  font-weight:700;
}


.sorting-filters span{
  margin-right:38px;
  font-size:12px;
  line-height:18px;
}

.results .button,
.results-description a,
.filters a{
  font-family:"PT Sans","Arial",sans-serif;
  text-transform:uppercase;
  text-decoration:none
}

.sorting-filters a{
  margin-right:28px;
  font-size:12px;
  line-height:18px;
  color:#d2d2d2;
  border-bottom:1px dotted #d2d2d2;
  font-weight:400
}



.sorting-filters .price{
  color:#81b3d2;
  text-decoration:none;
  border:none
}

.sorting-filters a:hover{
  color:#81b3d2;
  text-decoration:none;
  border-bottom:1px dotted #81b3d2
}

.sorting-filters a:active{
  color:#000;
  text-decoration:none;
  border-bottom:none
}

.sorting-up-down{
  text-align:right
}

.results{
  display: flex;
  flex-direction: column;
  padding:0 6%
}


.results{
  display: flex;
}

.wrapper{
  display: flex;
  position:relative;
  border-bottom:1px solid #e5e5e5;
  padding:30px 0
}

.results-img{
  margin-right:30px;
  width:135px;
  height:90px
}

.results .button,
.results-description a{
    margin:0;
    font-weight:700
}

.results-description a{
    display:block;
    vertical-align:top;
    font-size:21px;
    line-height:26px;
    color: #000000;
}

.results-description a.title{
  margin-top:-4px;
  margin-bottom:6px;
  padding:0;
  width:350px
}

.results-description a.title:active{
  color:rgba(0,0,0,.3)
}
.results-info{
  margin-right:6px
}