html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial",sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}

section {
  display: flex;
  width: 1200px;
}

.container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.button {
  display: inline-block;
  vertical-align: top;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding: 0;
}

.main-header {
  position: relative;
  width: 1200px;
  min-height: 56px;
  font-weight: bold;
}

.header {
  position: relative;
  min-height: 56px;
  width: 1200px;
  font-weight: bold;
}

.header-logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -70px;
}

.site-navigation {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 1200px;
  background-color: white;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 239px;
  height: 56px;
}

li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li a {
  font-weight: bold;
  line-height: 26px;
}

li:last-child .nav-link {
  margin-left: 15px;
}

li:nth-child(2) .nav-link {
  margin-left: 5px;
}

.hotel-state {
  color: #766357;
}

.site-navigation li a:hover {
  color: #81b3d2;
}

.site-navigation li a:focus {
  color: #cacaca;
}

main {
  background-color: #ffffff;
}

.main-container {
  position: relative;
  width: 1200px;
}

.intro {
  background-color: #82B4D3;
  background-image: url("../img/intro-mask.svg"), 
										url("../img/background-photo.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  line-height: 0;
}

.top-image {
  margin-top: 76px;
  margin-bottom: 79px;
  margin-left: 371px;
}

.description {
  display: flex;
  box-sizing: border-box;
  min-height: 216px;
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 61px;
  padding-bottom: 56px;
  background-color: white;
}

.info-city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 99px;
}

.info {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  font-family: "PT Sans","Arial",sans-serif;
  font-stretch: normal;
  letter-spacing: normal;
}

.info-text {
  font-size: 14px;
  line-height: 1.15;
  font-weight: normal;
  font-family: "PT Sans","Arial",sans-serif;
  text-align: center;
  margin: 0px;
}

.cause {
  display: flex;
  min-height: 256px;
  background-color: #82B4D3;
  color: white;
}

.description-one {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  padding-bottom: 59px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center; 
}

.cause-description .feature-picture + .description-one {
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 46px;
  padding-bottom: 60px;
  padding-left: 48px;
  padding-right: 49px;
}

.cause-title {
  width: 55%;
  align-self: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 25px;
}

.cause-text {
  display: inline-block;
  line-height: 21px;
  font-weight: normal;

}

.number{
  margin-bottom: 20px;	
}

.feature-picture {
  line-height: 0;
  display: flex;
  background-color: #81b3d2;
  width: 800px;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: 256px;
}

.reason {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 330px;
  text-align: center;
  background-color: white;
}

.recommend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 400px;
  min-height: 330px;
  padding-top: 161px;
  padding-bottom: 82px;
  padding-left: 56px;
  padding-right: 56px;
  text-align: center;
}

.housing {
  background-image: url("../img/icon-1.svg");
  background-position: center top 60px;
  background-repeat: no-repeat;
}

.food {
  background-image: url("../img/icon-3.svg");
  background-position: center top 62px;
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url("../img/icon-2.svg");
  background-position: center top 56px;
  background-repeat: no-repeat;
}

.recommend-title,
.more-title {
  width: 55%;
  align-self: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.recommend-text {
  line-height: 21px;
  font-weight: normal;
}

.recommend-img,
.feature-picture-img{
  line-height: 0;
}

.more-cause {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 256px;
  text-align: center;
  color: black;
  background-color: #EFEFEF;
}

.more-item-cause {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  min-height: 256px;
  padding-top: 47px;
  padding-bottom: 59px;
  padding-left: 60px;
  padding-right: 60px;
}

.more-item-cause .more-text {
  width: 262px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
}

.interest-block {
  display: flex;
  box-sizing: border-box;
  min-height: 291px;
  padding-top: 51px;
  padding-left: 316px;
  padding-right: 316px;
  background-color: white;
}

.interest-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
  text-align: center;
}

.interest-item h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  margin-top: 0;
}

.interest-item p {
  line-height: 24px;
  font-weight: normal;
  margin: 0;
} 

.search-button { 
  width: 568px;
  height: 86px;
  border: none;
  align-self: center;
  margin-top: auto;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #776356;
  cursor: pointer;
  margin-top: 48px;
  padding: 0;
}

.search-button:hover {   /*Цвет кнопки при наведении курсора*/
  background-color: #604e43;
}
  
.search-button:focus {    /*Цвет кнопки при нажатии*/
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
}

.map iframe {
  background: #dfe7cd;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  width: 1200px;
  height: 595px;
  border: 0;
}

.search-hotel-modal {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  width: 568px;
  margin-left: -285px;
  background-color: white;
  padding: 47px 55px;
  padding-bottom: 54px;
  box-shadow: -15px 15px 20px  -15px rgba(0, 1, 1, 0.2), 15px 15px 20px  -15px rgba(0, 1, 1, 0.2);
}

.search-hotel-hidden {
  display: none;
}

.search-hotel-popup {
  -moz-animation-name: move-down;
  -webkit-animation-name: move-down;
  animation-name: move-down;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.search-hotel-modal label,
.search-hotel-input {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: inherit;
}

.search-hotel-input {
  border: 0;
  background-color: #f2f2f2;
}

.search-hotel-input:hover {
  background-color: #ebebeb;
  outline: 0;
}

.search-hotel-input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.input-date-row {
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.input-date-row:first-child {
  margin-bottom: 30px;
  margin-top: 9px;
}

.input-date-row label {
  margin-right: 16px;
  margin-top: 7px;
  margin-left: 3px;
}

.date-input {
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 18px;
  flex-grow: 1;
  height: 39px;
}

.date-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.date-input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.date-input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.date-input:-moz-placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.date-input::-moz-placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
}

.date-input::placeholder {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-hotel-btn-calendar {
  position: absolute;
  right: 1px;
  top: 8px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.search-hotel-btn-calendar:hover svg,
.search-hotel-btn-calendar:focus svg {
  fill: #000000;
}

.search-hotel-btn-calendar:active svg {
  fill: #81b3d2;
}

.search-hotel-person-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  flex-wrap: wrap;
}

.input-amount-col {
  display: inline-flex;
  margin-left: 30px;
  align-items: center;
}

.input-amount-row label {
  margin-right: 9px;
}

.input-amount-row:last-child label {
  margin-right: 0;
}

.person-amount-input {
  box-sizing: border-box;
  max-width: 40px;
  text-align: center;
  height: 37px;
}

.btn-amount {
  box-sizing: border-box;
  padding: 6px 13px;
  color: #000000;
  cursor: pointer;
  height: 37px;
  border: none;
}

.btn-amount:focus path,
.btn-amount:hover path {
  fill: #000000;
}

.btn-amount:focus,
.btn-amount:hover {
  outline: 0;
}
.btn-amount:active path,
.btn-amount:active path {
  fill: #81b3d2;
}

.search-hotel-btn {
  width: 100%;
  background-color: #81b3d2;
  padding: 16px 173px;
  margin-top: 55px;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.search-hotel-btn:hover,
.search-hotel-btn:focus {
  background-color: #669ec0;
}

.search-hotel-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map-img {
  height: 593px;
  background-image: url("../img/map.jpg");
}

.map-img iframe {
  border: 0px;
}

footer {
  position: relative;
  width: 1200px;
}

.main-footer {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 1200px;
  height: 120px;
}

.footer-link {
  /*position: relative;*/
  display: flex;
  width: 1200px;
  height: 120px;
}

.footer-wrap {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}

.footer-social,
.footer-copyright {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer-contacts {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  align-items: flex-start;
}

.footer-text {
  margin: 0px;
  margin-left: 130px;
  padding: 0px;
  font-size: 21px;
  font-weight: bold;
  line-height: 31px;
}

.footer-social-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #82B4D3;
  border: none;
}

.twitter::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/tw.svg");
  background-repeat: no-repeat;
  margin: 16px;
}

.facebook::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  margin: 13px 17px;
}

.youtube::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  margin: 16px 13px;
}

.twitter:active:before,
.facebook:active::before,
.youtube:active::before {
  opacity: 0.3;
}

.footer-social-link:last-child {
  margin-right: 0px;
}

.footer-social-link:hover {
  background-color: #669FC1;
}

.footer-social-link:active {
  background-color: #5397BE;
}
.footer-social-link:focus {
  outline: 2px solid #A6C7FF;
}

.footer-copyright-text {
  margin-right: 8px;
}

.footer-copyright svg:hover path {
  fill: #82B4D3;
}

.footer-copyright svg:active path {
  fill: #BEBCBD;
}

.form {
  position: absolute;
  z-index: 2;
  width: 568px;
  left: 50%;
  margin-top: -593px;
  margin-left: -284px;
  font-weight: bold;	
  background-color: white;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 458px;
  min-height: 285px;
  padding: 55px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item:first-child {
  margin-bottom: 29px;
}

.form-item:nth-child(2) {
  margin-bottom: 30px;
}

.form-item:last-child {
  margin-top: 54px;
}

.form-input-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 346px;
  height: 38px;
  background-color: #F2F2F2;
}

.form-calendar-svg {
  position: absolute;
  z-index: 3;
  right: 9px;
  top: 8px;
}

.form-input {
  width: 344px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 37px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
  outline: none;
}

.form-wrap-short {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  height: 38px;
  background-color: #F2F2F2;
}

.form-input-short::-webkit-inner-spin-button,
.form-input-short::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-input-short {
  -moz-appearance: textfield;
}

.quantity-adult-minus,
.quantity-child-minus {
  position: absolute;
  z-index: 3;
  top: 0px;
  width: 38px;
  height: 34px;
  font-weight: bold;
  font-size: 26px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #AAAAAA;
}

.quantity-adult-plus,
.quantity-child-plus {
  position: absolute;
  z-index: 3;
  right: 0px;
  top: 0px;
  width: 38px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #AAAAAA;
  font-weight: bold;
  font-size: 26px;
}

.quantity-adult-minus:hover,
.quantity-child-minus:hover,
.quantity-adult-plus:hover,
.quantity-child-plus:hover {
  color: black;
}

.quantity-adult-minus:active,
.quantity-child-minus:active,
.quantity-adult-plus:active,
.quantity-child-plus:active {
  color: #82B4D3;
}

.form-input-short {
  width: 42px;
  padding-right: 34px;
  padding-left: 34px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  border: 2px solid #F2F2F2;
  outline: none;
}

.form-wrap-short:first-child {
  margin-right: auto;
}

.form-input:hover,
.form-input-short:hover {
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
}

.form-input-wrap:hover,
.form-wrap-short:hover {
  background-color: #ECECEC;
}

.form-input:focus,
.form-input-short:focus {
  background-color: white;
  border: 2px solid #E6E6E6;
}

.form-submit {
  width: 100%;
  height: 58px;
  color: white;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: #82B4D3;
}

.form-calendar-svg:hover path {
  fill: #000000;
}

.form-input:hover + .form-calendar-svg path {
  fill: #000000;
}

.form-calendar-svg:active path {
  fill: #82B4D3;
}

.form-input:active + .form-calendar-svg path {
  fill: #82B4D3;
}

.form-submit:hover {
  background-color: #669FC1;
}

.form-submit:active {
  background-color: #5397BE;
  color: #95BAD3;
}

.form-title {
  width: 112px;
}

.form-title-last {
  width: 65px;
  padding-left: 53px;
}

.filtres {
  background-color: #434F53;
  background-image: url("../img/filter-background.png");
  background-position: center 50%;
  width: 1200px;
}

.filtres-form {
  box-sizing: border-box;
  min-height: 217px;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.filtres-item {
  display: flex;
  flex-direction: column;
  min-width: 182px;
  margin-right: 72px;
}

.filtres-title {
  margin-bottom: 27px;
  font-weight: bold;
  color: white;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.checkbox-label {
  color: white;
  font-family: "PT Sans","Arial",sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;
}

.filtres-input {
  opacity: 0;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 23px;
  width: 23px;
  margin-right: 17px;
  background-image: url("../img/checkbox-off.svg");
}

.filtres-input:checked + .checkbox-label::before {
  content: "";
  height: 23px;
  width: 27px;
  margin-right: 13px;	
  background-image: url("../img/checkbox-on.svg");
}

.filtres-input:focus + .checkbox-label::before,
.filtres-input:focus:checked + .checkbox-label::before {
  outline: 2px solid #A6C7FF;
}

.filtres-input:disabled + .checkbox-label::before {
  content: "";
  height: 23px;
  width: 23px;
  margin-right: 17px;	
  background-image: url("../img/checkbox-off-3.svg");
}

.filtres-input:checked:disabled + .checkbox-label::before {
  content: "";
  height: 23px;
  width: 27px;
  margin-right: 13px;	
  background-image: url("../img/checkbox-on-2.svg");
}

.filtres-item-checkbox:not(:last-child) {
  margin-bottom: 19px;
}

.filtres-price {
  width: 318px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-left: 230px;
}

.filtres-price .filtres-title {
  padding-left: 2px;
  margin-bottom: 13px;
}

.filtres-price-range {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 318px;
  min-height: 36px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 2px;
}

.filtres-price-min {
  min-width: 157px;
  text-align: center;
  color: white;
}

.filtres-price-max {
  min-width: 155px;
  text-align: center;
  color: white;
}

.filtres-price-sep {
  width: 2px;
  height: 22px;
  background-color: white;
}

.filtres-submit {
  margin-top: 34px;
}

.filtres-submit-btn {
  width: 137px;
  margin-left: 85px;
  margin-bottom: 2px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  color: white;
  line-height: 30px;
  cursor: pointer;
  padding: 0;
}

.filtres-submit-btn:hover {
  background-color: white;
  color: black;
}

.filtres-price-slider {
  position: relative;
  min-width: 318px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-range-inside {
  width: 260px;
  height: 2px;
  background-color: white;
}

.slider-range-min {
  position: absolute;
  z-index: 2;
  top: -9px;
  height: 22px;
  width: 20px;
  background-image: url("../img/filter-button.svg");
}

.slider-range-max {
  position: absolute;
  z-index: 2;
  left: 252px;
  top: -9px;
  height: 22px;
  width: 20px;
  background-image: url("../img/filter-button.svg");
}

.slider-range-min:hover {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: -10px;
  height: 24px;
  width: 22px;
  background-image: url("../img/filter-button-hover.svg");
}

.slider-range-max:hover {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 251px;
  top: -10px;
  height: 24px;
  width: 22px;
  background-image: url("../img/filter-button-hover.svg");
}

.range-min,
.range-max {
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 29px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.found {
  margin: 0;
  margin-right: 49px;
  font-size: 21px;
  font-weight: bold;
}

.sorting-filters {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-filters span {
  margin-right: 38px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 3px;
}  

.sorting-filters a {
  font-size: 12px;
  line-height: 18px;
  margin-right: 29px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  font-weight: normal;
  margin-top: 4px;
}

.sorting-filters .price {
  color: #81b3d2;
  text-decoration: none;
  border: none;
}

.sorting-filters a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2
}

.sorting-filters a:active {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

.up-button {
  margin-right: 12px;
  margin-left: 479px;
}  

.up-button path {
  fill: #cacaca;
}

.up-button:hover path,
.down-button:hover path {
  fill: #000000;
}

.up-button:focus path,
.down-button:focus path {
  fill: #81b3d2;
}

.down-button path {
  fill: #81b3d2;
}

.sorting {
  display: flex;
  padding: 0;
  border: none;
}

.hotels-found,
.hotels-wrap {
  display: flex;
  flex-direction: column;
}

.sorting-wrap {
	width: 1200px;
	min-height: 86px;
	padding-left: 72px;
	padding-right: 72px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E6E6E6;
}

.sorting-found {
	margin-right: 49px;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.15;
}

.sorting-text {
	margin-right: 38px;
	margin-top: 3px;
	font-size: 12px;
	font-weight: normal;
	font-family: "PT Sans","Arial",sans-serif;
	line-height: 1.15;
}

.sorting-select {
	margin-top: 4px;
	margin-right: 33px;
	padding: 0px;
	padding-bottom: 1px;
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	background: none;
	border: none;
	border-bottom: 1px dotted #81b3d2;
	font-weight: normal;
	line-height: 1.15;
}

.current-sorting {
	color: #81b3d2;
	
	border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-select:hover {
	color: #81b3d2;
}

.sorting-select:active {
	color: black;
	
	border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

.sorting-switch {
	margin-left: auto;
}

.sorting-switch-btn {
	width: 11px;
	margin-left: 7px;
	background: none;
	border: none;
}

.sorting-switch-btn:hover path {
	fill: #1E191A;
}

.sorting-switch-btn:active path {
	fill: #82B4D3;
}

.hotel-item {
  width: 1056px;
  min-height: 90px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #E6E6E6;
  line-height: 10px;
}

.hotel-img {
  margin-right: 30px;
}

.hotel-rating {
  margin-left: auto;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 258px;
  min-height: 90px
}

.hotel-title {
  margin-bottom: -4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 18px;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type {
  width: 110px;
  margin-right: 6px;
  color: #333333;
  line-height: 14px;	
  font-weight: normal;
}

.hotel-price {
  width: 142px;
  color: #333333;
  line-height: 14px;	
  font-weight: normal;
}

.hotel-link {
  width: 110px;
  height: 27px;
  margin-right: 6px;
  color: white;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  background-color: #81b3d2;
}

.hotel-link:hover {
  background-color: #669ec0;
}

.hotel-link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-booking {
  width: 142px;
  height: 27px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #766357;
  border: none;
  padding: 0;
}

.hotel-booking:hover {
  background-color: #604e43;
}

.hotel-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hotel-rating-text {
  min-width: 110px;
  line-height: 27px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  font-weight: normal;
}

.hotel-item:first-child .hotel-rating {
  background-image: url("../img/star.svg"),
										url("../img/star.svg"),
										url("../img/star.svg"),
										url("../img/star.svg");
  background-position: top right,
											 top right 23px,
											 top right 48px,
											 top right 72px;
  background-repeat: no-repeat, 
										 no-repeat,
										 no-repeat,
										 no-repeat;
}

.hotel-item:nth-child(2) .hotel-rating {
  background-image: url("../img/star.svg"),
										url("../img/star.svg"),
										url("../img/star.svg");
  background-position: top right,
											 top right 23px,
											 top right 48px;
  background-repeat: no-repeat, 
										 no-repeat,
										 no-repeat;
}

.hotel-item:last-child .hotel-rating {
  background-image: url("../img/star.svg"),
  									url("../img/star.svg");
  background-position: top right,
											 top right 23px;
  background-repeat: no-repeat, 
										 no-repeat;
}

.star {
  margin-left: 2px;
}
